/*Variabels defined in src/style.css*/

p {
    line-height: 1.6em;
    color: $primary-color;
}

#quoteDiv p {
    max-width: 60ch;
    font-size: 22px;
}
#quoteDiv p::before {
    content: "“";
    display: block;
    font-size: 60px;
    color: rgb(155, 0, 0);
    margin: 30px 0;


}
#quoteDiv p::after {
    content: "”";
    display: block;
    font-size: 60px;
    color: rgb(155, 0, 0);
    margin: 30px 30px 30px 90%;
}