/*Variabels defined in src/style.css*/

li {
    list-style: none;
}
header li {
    margin: 5px 10px;
    background-color: var(--secondary-background);
    padding: 10px;
    border-radius: 10px;
    width: 100px;
    text-align: center;
}
main li {
    color: var(--primary-text-color);
}
footer li {
    color: var(--secondary-text-color);
}